@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Orbitron', cursive;
	background: #6f7983;
}
nav {
	background: #000000;
	height: 80px;
	width: 100%;
}

label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	font-family: 'Orbitron', sans-serif;
	padding: 0 25px;
}

nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
}
nav ul li a{
	color: white;
	font-size: 20px;
	padding: 10px;
	border: 0.5px solid #fff;
}
a:hover {
	color: #18191a;
	background: #868788;
	box-shadow: 0 0 10px #868788, 0 0 40px #868788,0 0 80px #868788
	transition: 0.5s;

}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
nav ul li a::before{
	background: grey:
	content: "";
	transform: translate(-50%,-50%);
	transition: all 0.6s ease;
	width: 0;
	height: 100%;
}
nav ul li a:hover::before{
	width: 100%;
}
@media (max-width: 858px){
	.checkbtn{
	  display: block;
	  margin-right: 40px;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #6f7983;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	}
	a:hover{
	  background: none;
	  color: #575757;
	}
	#check:checked ~ ul{
	  left: 0;
	}
  }
#Home {
	margin-left: 40px;
	margin-top: 200px;
	padding: 0px;
	font-size: 50px;
}
.image{
	position: absolute;
	margin-left:455px;
	margin-top:200px;
	filter: gray;
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
	  -webkit-transform: scale(1.01);
    }
}